@media (max-width:480px){


    *{
        margin: 0%;
        padding: 0%;
        /* border: 1px solid purple; */
    }
    
    .container{
        width: 100%;
        height: auto;
    }
    
    .nav-bar{
    
        width: 100%;
        height: 70px;
        backdrop-filter: blur(15px);
        position: sticky;
        top: 0px;
        
    }
    
    .logo-section{
        width: 45%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo-section img{
    
        width: 80%;
    }
    
    .mini-nav{
        display: none;
    }
    
    .mini-nav-content{ 
        display: none;
    }
    
    .btn-container{
        width: 55%;
        height: 70px;
        gap: 10px;
    }
    
    .btn-container button:nth-child(1){
        width: 80px;
        height: 30px;
        font-size: 14px;
    }
    
    
    .btn-container button:nth-child(2){
        width: 95px;
        height: 30px;
        font-size: 14px;
    }
    
    /* nav bar end */
    
    
    .heading-section{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }
    
    .ex-heading{
        width: 100%;
        height: 200px;
        padding-left: 25px;    
    }
    
    .ex-heading h1{
        width: 100%;
        height: auto;
        font-size: 33px;
        font-weight: 300;
    }
    
    .p-with-button{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;    
    }
    

    .p-with-button p{
        width: 100%;
        height: auto;
    }
        .heading-btn{
            width: 100%;
            height: auto;
        }
    
    .bg-image-con{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bg-img{
        display: none;
    }
    .bg-image-mobile{
        width: 95%;
        height: 250px;
        background-image: url(./golf-ball-tee-with-sunrise-background_878783-21718.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 25px;
        display: flex;
    }
   
.color{
    width: 100%;
    height: 250px;
    border-radius: 25px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.144) 0%, rgba(0, 0, 0, 0.271) 35%, rgba(0, 0, 0, 0.884) 100%);
}

.color{
    color: rgba(255, 255, 255, 0.832);
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.color h3{
    font-weight: 300;
}

.color button{
   width: 95px;
   height: 30px;
   background: transparent;
   color: rgba(255, 255, 255, 0.716);
   border-radius: 24px;
   border: 1px solid rgba(255, 255, 255, 0.675);
}

.book-heading{
    width: 100%;
    height: auto;   
    text-align: center;
}

.book-heading h1{
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 30px;

}

.box-container{
    width: 100%;
    height: auto;
    padding-block: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.box01{
    width: 250px;
    height: 110px;
    transition: width 0.5s ease, 0.5s ease; 
  
}

.box01:hover {
  
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.195); 
}


.box02 {
    width: 250px;
    height: 110px;
    transition: width 0.5s ease, 0.5s ease; 
  
}

.box02:hover {
  
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.195); 
}

.box03 {
    width: 250px;
    height: 110px;
    transition: width 0.5s ease, 0.5s ease; 
  
}

.box03:hover {
  
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.195); 
}


.images-heading-con{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.our-heading{
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 15px;
    padding-left: 30px;
    
}

.our-heading h1{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    font-size: 45px;
    text-align: center;
}

.our-heading p{
    width: 100%;
    height: auto;
    font-size: 15px;
    padding-bottom: 30px;
    text-align: center;
}

.golf-man-image-con{
    width: 100%;
    height:auto;
    padding: 10px;
}

.golf-image{
    width: 450px;
    height: 360px;

}

.golf-man-img-con{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    flex-direction: column;
    padding: 10px;
}

.golf-con{
    width: 340px;
    height: 350px;  
}

.main-golf{
    width: 100%;
    height: auto;
    
}

.golf-con{
    width: 100%;
  
}

.icon-box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icon-box i{
    font-size: 18px;
    padding: 10px;
}


.mobile-img-bg{

    width: 95%;
    height: 350px;
    background-image: url(./Screenshot\ 2024-10-09\ 090422.png);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    padding: 20px;
}



.mobile-img-bg h1{
    width: 100%;
    height: auto;
    color: white;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 10px;
  
}

.mobile-img-bg p{
    width: 100%;
    height: auto;
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 40px;
 
}

.mobile-img-bg button{
    width: 100px;
    height: 30px;
    border: 1px solid white;
    border-radius: 25px; 
    background: transparent;
    color: white;
   
}

.img-bg-2{
    display: none;
}


.bg-color2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.dis-heading{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;


}

.dis-heading h1{
    
    width: 100%;
    height: auto;
    font-weight: 500;
    font-size: 35px;
    padding-block: 15px;
}

.dis-heading p{
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #272727;
}

.golf-image-con{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
     flex-direction: column;
    padding: 10px;
    gap: 25px;
    padding-top: 0px;
    padding-block: 10px;

}

.golfbox{
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
}

.golfbox h3{
    padding-top: 10px;
    font-weight: 300;
    padding-left: 10px;
}

.golfbox p{
    padding-top: 5px;
   font-size: 12px;
   color: #272727;
   padding-left: 10px;
}

.golfimg1{
    width: 100%;
    height: 255px;
     background-image: url(./Screenshot\ 2024-10-09\ 101443.png);
   
}

.golfimg2{
    width: 100%;
    height: 255px;
    background-image: url(./Screenshot\ 2024-10-09\ 103904.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.golfimg3{
    width: 100%;
    height: 255px;
    background-image: url(./Screenshot\ 2024-10-09\ 103825.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.golfimg4{
    width: 100%;
    height: 255px;
       background-image: url(./Screenshot\ 2024-10-09\ 103052.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.bg-color2{
    height: auto;
    padding-bottom: 20px;
}


.bg-color2 button{

    width: 180px;
    height: 35px;
}

/* |||||||||| */


.our-blog-heading{
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-blog-heading h1{
    width: 100%;
    height: auto;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.our-blog-heading p{
    width: 100%;
    height: auto;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.line-box-con{

    display: flex;

}

/* ||||||||||| */

.our-blog-heading{
    width: 100%;
    height: auto;

}

.our-blog-heading h1{
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 15px;
}


/* our blog end */

.box-container01{
    width: 100%;
    height: auto;
    flex-direction: column;
}

.part-one{
    width: 100%;
    height: auto;
}

.part-one-image{
    width: 100%;
    height: 500px;
}


.part-two{
    width: 100%;
    height: auto;
}

.card1{
    width: 100%;
    height: auto;
}

.card1 p{
    font-size: 12px;
}

.card2{
    width: 100%;
    height: auto;
}

.card2 p{
    font-size: 12px;
}

.card3{
    width: 100%;
    height: auto;
}

.card3 p{
    font-size: 12px;
}


/* footer section */


.footer-container{
    width: 100%;
    height: auto;
}

.small-container{
    width: 95%;
    height: auto;
    background-color: #1d1d1d;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.footer-logo{
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    
}

.footer-logo ul li{
    width: 100%;
    height: auto;
    display: none;
}



.footer-logo img{
    width: 50%;
}

.list-con{
    width: 100%;
    height: auto;
    gap: 45px;
    padding: 10px;
    flex-wrap: wrap;
    
}

.list ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.list ul li:nth-child(1){
    width: 100%;
    height: auto;
    font-size: 15px;
    font-weight: 700;
}

.list ul li{
    width: 100%;
    height: auto;
    font-size: 12px;
}

.list ul li:hover{
    text-decoration: underline;  
}


/* last section */

.last-section{
    width: 100%;
    height: auto;
    
}

.last-box{
    width: 100%;
    height: auto;
    background-color: #1d1d1d;
    flex-wrap: wrap;

}

.copy-right{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.copy-right p{
    font-size: 10px;
    padding-top: 10px;
}

.last-icons{
    width: 100%;
    height: auto;

}


}